h1{
    text-align: center;
    text-decoration: underline;
    padding-top: 50px;
}

::placeholder{
    font-style: italic;
    font-size: 18px;
}

form{
    margin: 70px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 0,100, 100, 100;
    font-size: 20px;
}

.button{
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
}